# Optional: scoop for windows (drop-in apt-get replacement)
# WezTerm, kitty, etc. for windows
# Telegraph for windows
langChain
jupyter
jupyterLab
# bitsandbytes **os-specific**
# cuda **os-specific**
llama-cpp-python
llama-index
# git+https://github.com/go-skynet/LocalAI.git
requests
flask
openai
chainlit
# git+https://github.com/jina-ai/langchain-serve.git
# git+https://github.com/xtekky/gpt4free.git
